{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 150,
  "proseWrap": "never",
  "bracketSpacing": false,
  "endOfLine": "crlf",
  "tabWidth": 2,
  "useTabs": false,
  "jsxBracketSameLine": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}